.posters_breadcrumb .woocommerce-breadcrumb,
.woocommerce .woocommerce-breadcrumb {
    @extend %global_flex_block_row_nowrap_flex_start_center;

    width: 100%;

    line-height: 1.5;
    
    @include bp($point_2, min) {
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
    }

    @include bp($point_3) {
        font-size: 1.2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.breadcrumbs--padding1_mod {
    @include bp($point_2, min) {

    }

    @include bp($point_3) {

    }
}

.posters_breadcrumb {
    padding-top: 1rem;
    padding-bottom: 0;
}