// Complianz | GDPR/CCPA Cookie Consent

.cmplz-cookiebanner.banner-1 {

  .cmplz-btn {
    @extend %white_btn;

    border-radius: 3rem !important;

    &.cmplz-accept {
      @extend %red_btn;

      border-color: $red !important;
    }
  }

  a {
    text-decoration: none !important;

    &:hover {
      text-decoration: underline !important;
    }
  }

  &.cmplz-show + .shppb_cookie_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($black, .8);
    z-index: 99998;
  }

}







//// Plugin Cookie Notice & Compliance for GDPR / CCPA
//
//.cookies-not-set {
//  #cookie-notice {
//    display: flex;
//
//    height: 100% !important;
//
//    background-color: rgba(0, 0, 0, 0.84) !important;
//  }
//
//  .cookie-notice-container {
//    position: relative;
//
//
//    height: auto;
//    margin: auto auto;
//
//    background: $red;
//    border-radius: 1rem;
//
//    @include bp($point_4 + 1, min) {
//      width: 50% !important;
//    }
//
//    @include bp($point_4) {
//      width: 90% !important;
//    }
//  }
//
//  .cn-close-icon {
//    top: 2.1rem !important;
//  }
//
//  .cn-close-icon:after, .cn-close-icon:before {
//    background-color: $white !important;
//  }
//
//  .cookie-notice-container {
//    padding: 4rem 3rem 2.6rem !important;
//  }
//
//  .cn-text-container {
//    margin-bottom: 1.8rem !important;
//
//    a {
//      color: $white;
//      text-decoration: underline;
//
//      &:hover {
//        opacity: .7;
//        text-decoration: none;
//      }
//    }
//  }
//
//  .cn-buttons-container {
//
//  }
//
//  #cookie-notice .cn-button:not(.cn-button-custom) {
//    @extend %white_btn;
//
//    width: 200px;
//    margin-left: 0 !important;
//
//    border-radius: 3rem !important;
//  }
//}