//--------------------------------------------------------layout
.home_hero {
    position: relative;

    width: 100%;
    padding: 5rem 0 7.5rem 0;

    background-color: $white;
}

.home_hero__in {
    position: relative;

    @include bp($point_2, min) {
        @include flex_block(column, wrap, center, center, center);

        height: 70.7rem;
	}
}
//--------------------------------------------------------layout###

//--------------------------------------------------------cover
.home_hero__cover {    
    @include bp($point_2, min) {
        
	}

	@include bp($point_3) {

	}
}

.home_hero__title,
.home_hero__subtitle {
    position: relative;
    z-index: 1;

    pointer-events: none;
    user-select: none;

    @include bp($point_2, min) {
        padding: 0 1rem;
        background: white;
        border-radius: 1rem;
    }

    @include bp($point_3) {
        padding: 0 2rem;
    }
}

.home_hero__title {
    @extend %h1;

    text-transform: capitalize;

    @include bp($point_2, min) {
        margin: 0 0 2rem;
	}

	@include bp($point_3) {
        margin: 0 0 1rem;
	}
}

.home_hero__subtitle {
    @extend %h2;

    @include bp($point_2, min) {
        margin: 0 0 4rem;
	}

	@include bp($point_3) {
        display: inline-block;
        margin: 0 0 1.9rem;
	}
}

.home_hero__button {
    @extend %red_btn_1;
    @extend %btn_size_0;

    position: relative;
    z-index: 2;

    margin: 0 2rem 5rem 2rem;

    @include bp($point_3) {
        margin: 0 2rem 1.9rem;
    }
}
//--------------------------------------------------------cover###

//--------------------------------------------------------gallery
.home_hero__gallery_list {
    background-color: $white;
    overflow: hidden;
    
    @include bp($point_2, min) {
		position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
	}

	@include bp($point_3) {
        position: relative;
        padding-top: 95.2%;
        box-shadow: 0px -4px 32px 0px rgba(0, 0, 0, 0.08), 0px 4px 32px 0px rgba(0, 0, 0, 0.08);
	}
}

.home_hero__gallery_item {
    position: absolute;

    @include bp($point_2, min) {
        &:nth-child(1) {
            width: 9.4rem;
            height: 13.4rem;
            top: 9.7%;
            left: 4.3%;
        }
        &:nth-child(2) {
            width: 19.4rem;
            height: 28rem;
            top: 5%;
            left: 16.3%;
        }
        &:nth-child(3) {
            width: 19.4rem;
            height: 28rem;
            top: 5%;
            right: 16.3%;
        }
        &:nth-child(4) {
            width: 9.4rem;
            height: 13.4rem;
            top: 9.7%;
            right: 4.3%;
        }
        &:nth-child(5) {
            width: 19.4rem;
            height: 28rem;
            top: 35%;
            left: 8%;
        }
        &:nth-child(6) {
            width: 19.4rem;
            height: 28rem;
            top: 35%;
            right: 8%;
        }
        &:nth-child(7) {
            width: 9.4rem;
            height: 13.4rem;
            bottom: 8.9%;
            left: 10.3%;  
        }
        &:nth-child(8) {
            width: 23.6rem;
            height: 34rem;
            bottom: 0%;
            left: 21.3%; 
        }
        &:nth-child(9) {
            width: 23.6rem;
            height: 34rem;
            bottom: 0%;
            right: 21.3%;
        }
        &:nth-child(10) {
            width: 9.4rem;
            height: 13.4rem;
            bottom: 8.9%;
            right: 10.3%;  
        }
	}

	@include bp($point_3) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &:nth-child(1) {
            width: 9%;
            height: 13%;
            margin: -11% 0 0 20%;
            z-index: 1;
        }
        &:nth-child(2) {
            width: 18%;
            height: 27%;
            margin: -45% 0 0 31%;
            z-index: 5;
        }
        &:nth-child(3) {
            width: 32%;
            height: 49%;
            margin: 17.5% 0 0 -42%;
            z-index: 10;
        }
        &:nth-child(4) {
            width: 22%;
            height: 33%;
            margin: 32.5% 0 0 27%;
            z-index: 2;
        }
        &:nth-child(5) {
            width: 18%;
            height: 28%;
            margin: -34.5% 0 0 -41%;
            z-index: 3;
        }
        &:nth-child(6) {
            width: 45%;
            height: 68%;
            margin: 0% 0 0 0%;
            z-index: 9;
        }
        &:nth-child(7) {
            width: 22%;
            height: 33%;
            margin: 7% 0 0 -3%;
            z-index: 5;
        }
        &:nth-child(8) {
            width: 22%;
            height: 33%;
            margin: -8% 0 0 45%;
            z-index: 8;
        }
        &:nth-child(9) {
            width: 25%;
            height: 38%;
            margin: -35% 0 0 -12%;
            z-index: 6;
        }
        &:nth-child(10) {
            width: 14%;
            height: 21%;
            margin: 41% 0 0 -12%;
            z-index: 7;
        }
	}

    
}

.home_hero__img_w {
    width: 100%;
    height: 100%;
}

.home_hero__img {
    @extend %contain_img;
}
//--------------------------------------------------------gallery###