// https://github.com/anisur2805/woocommerce-mini-cart-ajax-plus-minus

%loading {
  opacity: .7;
  color: rgba(0, 0, 0, 0.15);
  pointer-events: none;
  user-select: none;
}

.ic-mini-cart-count-price {
  @extend %global_flex_block_row_nowrap_flex_start;

  // $point_4
  @media only screen and (max-width: $point_4), (hover: none) and (pointer: coarse) {
    flex-direction: column;
  }

  .quantity {
    // $point_4
    @media only screen and (max-width: $point_4), (hover: none) and (pointer: coarse) {
      margin-bottom: .5rem;
    }

    .screen-reader-text {
      display: none;
    }

    .input-text {
      border: none;
      background: none;
      width: 3.2rem;
      min-width: 3.2rem;
      text-align: center;
      color: $red;
      font-weight: 700;
      font-size: 1.5rem;
      pointer-events: none;
      user-select: none;


      .loading & {
        @extend %loading;
      }
    }

    /* Chrome, Safari, Edge, Opera */
    .input-text::-webkit-outer-spin-button,
    .input-text::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    .input-text[type=number] {
      -moz-appearance: textfield;
    }

    .ic-item-quantity-btn {
      @extend %transition_all;

      width: 2rem;
      height: 2rem;
      padding: 0 0 .2rem 0;

      font-weight: 700;
      color: $black;
      outline: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 100%;
      cursor: pointer;

      &:hover {
        outline-color: $red;
        background: $red;
        color: $white;
      }

      &.minus {
        padding-bottom: .2rem;

        .min_value & {
          @extend %loading;
        }
      }
      .plus {}

      .loading & {
        @extend %loading;
      }
    }
  }

  .amount {
    position: relative;
    padding-left: 2rem;
    font-weight: 700;
    color: $red;

    &:before {
      position: absolute;
      content: '×';
      display: block;
      top: 0;
    }

    @include bp($point_4 + 1, min) {
      &:before {
        left: .6rem
      }
    }

    @media only screen and (max-width: $point_4), (hover: none) and (pointer: coarse) {
      &:before {
        left: 0;
      }
    }
  }




}